body {
  font: 14px "Open Sans", "Arial", sans-serif;
}

video {
  margin-top: 2px;
  border: 1px solid black;
  display: inline-block;
  width: 50%;
  height: auto;
}

canvas {
  visibility: hidden;
}

.button {
  cursor: pointer;
  display: block;
  width: 160px;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 4px;
  color: white;
  background-color: darkgreen;
  text-decoration: none;
}

h2 {
  margin-bottom: 4px;
}

display {
  margin-left: 10px;
  float: left;
  width: 160px;
  padding: 0px;
}

log {
  margin-top: 8px;
  font-family: monospace;
}

.bottom {
  clear: both;
  padding-top: 10px;
}

.box {
  width: 600px;
  height: 300px;
  border: 1px solid black;
  padding: 2px 4px;
  overflow-y: scroll;
  overflow-x: auto;
}